%h2 Sign in
%div.row
  %div{:class =>"col-md-6 col-md-offset-3"}
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %div
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: "form-control"
      %div
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", class: "form-control"
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label :remember_me
      %div= f.submit "Sign in", class:"btn btn-primary"
    = render "devise/shared/links"
