%header.navbar.navbar-fixed-top.navbar-inverse
  .container
   
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Home", root_path
        
        - if user_signed_in?
          %li 
            = link_to "Articles", articles_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Account
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Profile", user_path(current_user)
              %li
                = link_to "Settings", edit_user_registration_path(current_user)
              %li.divider
              %li
                = link_to "Log out", destroy_user_session_path, method: "delete"
        -else
          %li
            = link_to "Log in", new_user_session_path
          %li 
            = link_to "Sign up", new_user_registration_path
        %li
          = link_to "About", about_path
           
